<dx-circular-gauge id="gauge" [value]="temperatureData?.value || 0" >
  <dxo-scale [startValue]="10" [endValue]="100" [tickInterval]="10">
    <dxo-label [useRangeColors]="true"></dxo-label>
  </dxo-scale>
  <dxo-range-container palette="pastel">
    <dxi-range [startValue]="50" [endValue]="90"></dxi-range>
    <dxi-range [startValue]="90" [endValue]="130"></dxi-range>
    <dxi-range [startValue]="130" [endValue]="150"></dxi-range>
  </dxo-range-container>
  <dxo-title text="Temperature">
    <dxo-font [size]="28"></dxo-font>
  </dxo-title>
</dx-circular-gauge>