<dx-circular-gauge id="gauge" [value]="temperatureData?.value || 0" >
  <dxo-scale [startValue]="10" [endValue]="100" [tickInterval]="10">
    <dxo-label [useRangeColors]="true"></dxo-label>
  </dxo-scale>
  <dxo-range-container palette="Office">
    <dxi-range [startValue]="40" [endValue]="60"></dxi-range>
    <dxi-range [startValue]="60" [endValue]="80"></dxi-range>
    <dxi-range [startValue]="80" [endValue]="100"></dxi-range>
  </dxo-range-container>
  <dxo-title text="Temperature">
    <dxo-font [size]="28"></dxo-font>
  </dxo-title>
</dx-circular-gauge>
